
.hard-delete {
  // colors 
  @mixin transition($pp: all, $timing: 0.5s) {
    -webkit-transition: $pp $timing;
    -moz-transition: $pp $timing;
    -o-transition: $pp $timing;
    transition: $pp $timing;
  }

  overflow: hidden;
  position: absolute;
  width: 16px;
  height: 17px;
  padding-left: 1px;
  border: 1px solid gray;
  border-radius: 3px;
  border-color: transparent;

  @include transition;

  .delete, .cancel {
    position: relative;
    top: -2px;
    display: inline-block;
  }

  &:not(.disabled) {
    cursor: pointer;
    color: #898989;
    .cancel {
      @include transition(color);
      &:hover { color: #50b452 !important; }
    }
  }

  &.disabled {
    cursor: default;
    .delete {
      color: transparent !important;
    }
    pointer-events: none;
  }

  .cancel {
    padding-left: 3px;
    border-left: 1px solid gray;
  }

  .delete {
    padding-left: 1px;
    @include transition(color);
    &.active {
      color: #898989 !important;
      &:hover { color: #e53935 !important; }
    }
     
  }

  &.modal-on {
    background-color: white;
    border-color: gray;
    width: 34px;
  }
}

// .wrapper.bot:hover, i:hover:not(.active) {
//     color: #e53935;
//     @include transition(color);
//   }
//   .wrapper.top:hover {
//     color: #50b452;
//     @include transition(color);
//   }
//   i.active {
//     color: #ccc;
//     cursor: default;
//     @include transition(color);
//   }
//   i {
//     @include transition(color);
//   }
//   @include transition(color);
  
//   display: inline-block;
//   cursor: pointer;
//   color: #898989;
//   position: absolute;
//   padding: 0 3px;
  
//   .confirm {
//     position: absolute;
//     display: inline-block;
//     border: 1px solid gray;
//     border-radius: 3px;
//     font-size: 15px;
//     width: 17px;
//     height: 36px;
//     top: -9px;
//     left: 0;
//     z-index: -1;
//     > div {
//       display: block;
//       color: transparent;
//       @include transition(color);
//     }

//     background-color: transparent;
//     border-color: transparent;
//     @include transition(background-color);
//     @include transition(border-color);

//     &.active {
//       z-index: 42;
//       background-color: white;
//       border-color: #898989;
//       @include transition(background-color);
//       @include transition(border-color);
//       > div {
//         color: inherit;
//         @include transition(color);
//       }
//     }
//   }
  
//   .wrapper {
//     position: relative;
//     &.top {
//       font-size: 13px;
//       top: -1px;
//       left: 2px;
//     }
//     &.bot {
//       font-size: 14px;
//       top: -1px;
//       left: 2px;
//     }
//   }