{{#click-outside action=(action 'cancel')}}
  <i {{action 'click'}} class='fa fa-trash delete {{if modalOn 'active'}}'></i>
  <div {{action 'cancel'}} class='cancel fa fa-close'></div>
{{/click-outside}}
